/* Import font */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


/*Custom properties*/

:root {
    --d-violet: hsl(256, 26%, 20%);
    --g-blue: hsl(216, 30%, 68%);
    --vd-violet: hsl(270, 9%, 17%);
    --vd-g-violet: hsl(273, 4%, 51%);
    --vl-gray: hsl(0, 0%, 98%);
    --font-family-body: 'Karla', sans-serif;
    --font-family-header: 'DM Serif Display', serif;
    --font-family-body: ;
    --font-size-sm: 2rem;
    --gap: 1rem;

}

/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px ; */
    font-size: 62.5%;
}

body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-sm);
    color: white;
    /*var(--d-violet);*/
    background-color: var(--vl-gray);
    letter-spacing: 1px;
    transition: background-color .25s, color .25s;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

input,
button {
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}

i {
    font-size: var(--font-size-md);
}


/* Reusable classes */
.container {
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: var(--vl-gray);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.logo {
    font-size: var(--font-size-sm);
    color: var(--vd-violet);
}

.menu {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 1.5rem;
    font-family: var(--font-family-header);
    font-weight: 700;
    letter-spacing: .5rem;
    background-color: var(--vd-violet);
    background-image: url(./images/bg-pattern-mobile-nav.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s ease-in;
}

.list {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.list-item {
    padding: 10px;
}

.menu>.list {
    flex-direction: column;
}

.list-item.current {
    color: var(--vl-gray);
    border: 2px solid var(--vd-g-violet);
    width: 80%;
    text-align: center;
}

.open-menu-icon,
.close-menu-icon {
    color: var(--vd-g-violet);
    border: 2px solid var(--vd-g-violet);
    padding: 3px;
}

.close-menu-icon {
    display: none;

}

.btn {
    cursor: pointer;
}

.list-link:hover,
.btn:hover {
    color: var(--vl-gray);
}

.header.activated {
    box-shadow: 0 1px .5rem var(--vl-gray);
}

.menu.activated {
    box-shadow: 1px 1px 1rem var(--vl-gray);
    opacity: 1;
    transform: scale(1);
}

.menu-toggle-icon.activated .open-menu-icon {
    display: none;

}

.menu-toggle-icon.activated .close-menu-icon {
    display: block;

}

.section {

    height: auto;

}

.section-dark {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: url(./images/bg-pattern-intro-left-mobile.svg) no-repeat top left,
        var(--vd-violet);
}

.section-light {
    color: var(--vd-violet);
    background: url(./images/bg-pattern-intro-right-mobile.svg) no-repeat top right;
    background-blend-mode: overlay;
}

.home-section {


    min-height: 400px;
}

.home-title {
    font-family: var(--font-family-header);
    text-align: center;
    font-size: 4rem;
    padding: 3rem 30px;

}

.home-para {
    padding: 0 30px 3rem 30px;
}

.home-btn {
    display: block;
    text-align: center;
    margin: 15px;
    padding: 10px 20px;
    border: 2px solid var(--vl-gray);
}

.section-bottom {
    min-height: 50px;
    min-width: 100%;

    background-blend-mode: ;
}

.section-division {
    max-width: 50%;
    max-height: 50%;
    margin: 25px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-division img {
    width: 50%;
    height: auto;

}

.section-clients {
    overflow: hidden;
}

.article-image {
    max-width: 200px;
    padding: 50px 0 100px 0;
}

.section-footer {
    min-height: 150px;
    background: url(./images/bg-pattern-footer-mobile.svg) no-repeat bottom left, var(--vd-violet);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer-social {
    width: 50%;
    display: flex;
    justify-content: space-evenly;

}

.footer-bottom {
    display: flex;
    flex-direction: column;
}

.divider {
    height: 1px;
    width: 70%;
    background: var(--vl-gray);
    border-radius: 60%;
    margin: 0 auto;

}

/*- Swiper */
.article.swiper-slide {
    height: auto;
    /*  height coming from tutorial, in order to fit needs 10rem more */
    display: flex;
    justify-content: center;
}

.swiper-wrapper {
    height: 10px;
}

.swiper-controls {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--vl-gray);
}

.swiper-controls::after {
    font-size: 1.6rem;
    color: var(--light-color);
}

.swiper-pagination {
    bottom: .5rem !important;
}

.swiper-pagination-bullet {
    background-color: var(--vd-g-violet);
}